<p>Добро пожаловать в DigitalBazaar!</p>
<p>Для завершения регистрации и подтверждения вашей электронной почты, пожалуйста, нажмите на кнопку ниже:</p>
<%= link_to 'Подтвердить почту', confirmation_url(@resource, confirmation_token: @token) %>
